.menu {
    background-image: url(../images/menu/white-talcume-powder-explosion-black\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // background-color: #000000;
    padding: 69px 0 80px;
    overflow: hidden;

    &__info {
        font-size: 24px;
        line-height: 2.4;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 428px 0 10px;
        transition: padding 0.9s ease;
    }

    &__one {
        @include background('../images/menu/Супы.jpg');
        
        &:hover {
            background-image: url(../images/menu/Супы.jpg);
        }
    }

    &__two {
        @include background('../images/menu/Блюда\ на\ мангале.jpg'); 

        &:hover {
            background-image: url(../images/menu/Блюда\ на\ мангале.jpg);
        }
    }

    &__three {
        @include background('../images/menu/Горячие\ блюда.jpg'); 

        &:hover {
            background-image: url(../images/menu/Горячие\ блюда.jpg);
        }
    }

    &__four {
        @include background('../images/menu/Соусы.jpg'); 

        &:hover {
            background-image: url(../images/menu/Соусы.jpg);
        }
    }

    &__five {
        @include background('../images/menu/Выпечка.jpg');
        
        &:hover {
            background-image: url(../images/menu/Выпечка.jpg);
        }
    }

    &__six {
        @include background('../images/menu/Салаты.jpg'); 

        &:hover {
            background-image: url(../images/menu/Салаты.jpg);
        }
    }

    &__seven {
        @include background('../images/menu/Холодные\ закуски.jpg'); 

        &:hover {
            background-image: url(../images/menu/Холодные\ закуски.jpg);
        }
    }
}

.swiper-slide {
    width: 262px;
    height: 508px;
    max-width: 262px;
    max-height: 508px;
    position: relative;
}

.btn__hov {
    position: absolute;
    width: 100%;
    left: 6%;
    top: 43%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
}

.swiper-slide:hover .btn__hov {
    opacity: 1;
}

.swiper-slide:hover .menu__info {
    padding: 300px 0 10px
}

.swiper-pagination-bullet {
    display: none;
}

.swiper-button-prev {
    max-width: 23px;
    max-height: 40px;
    margin-left: 20px;
    background-image: url(../images/menu/prev.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-button-next {
    max-width: 23px;
    max-height: 40px;
    margin-right: 20px;
    background-image: url(../images/menu/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: '';
    display: none;
}

@media (max-width: 425px) {
    .menu {
        &__info {
            font-size: 21px;
        }
    }

    .btn__hov {

        left: 12%;
    }
}

