@mixin background ($url) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}